.voteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-secondary);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 50px;
    margin-right: 20px;
}

.voteButton {
    background: none;
    border: none;
    font-size: 20px;
    color: var(--text-primary);
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s;
}

.voteButton:hover:not(:disabled) {
    color: var(--color-highlight);
}

.voteButton:disabled {
    color: var(--text-secondary);
    cursor: not-allowed;
}

.voteCount {
    font-size: 16px;
    color: var(--text-primary);
    margin: 5px 0;
    font-weight: bold; }